@import "./normalize.css";

@font-face {
    font-family: "Montserrat Light";
    src: local("Montserrat-Light"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Regular";
    src: local("Montserrat-Regular"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Bold";
    src: local("Montserrat-Bold"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

$font-light: "Montserrat Light", sans-serif;
$font-mont: "Montserrat Regular", sans-serif;
$font-bold: "Montserrat Bold", sans-serif;
$font-sans: sans-serif;
$bg-main: #1e171f;
$bg-darker: #1d161e;
$bg-lighter: #3e2c41;
$main-color: #d3d0cb;
$flavor-color: #ffc18e;

@mixin bg-gradient {
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-color: $bg-darker;
    background-image: linear-gradient(180deg, $bg-darker 0, $bg-main 250px, $bg-lighter 251px);
    background-position: 0 0;
}

@mixin transition {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: $main-color;
    text-decoration: none;
}

body {
    height: 100%;
    width: 100%;
    color: $main-color;
    font-family: $font-mont;
    @include bg-gradient();
}

#root {
    height: 100%;
    width: 100%;
}

.page-container {
    width: 100%;
    position: relative;
    min-height: 100vh;

    .loading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    header {
        height: 70px;
        position: relative;
        background-color: $bg-main;

        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            height: 100%;

            .logo {
                background-image: url(../img/logo/logo.png);
                background-repeat: no-repeat;
                background-size: contain;
                height: 70px;
                width: 70px;
                opacity: 0.5;
                cursor: pointer;
                @include transition();
                &:hover {
                    opacity: 1;
                }
            }
            .main-nav {
                display: flex;
                align-items: center;
                justify-content: center;
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 10px;
                    svg {
                        padding-top: 5px;
                        width: 1.2rem;
                        height: 100%;
                    }

                    button {
                        cursor: pointer;
                        color: $main-color;
                        border: none;
                        background: none;
                    }
                }
            }
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 30px 0;
        background: $bg-main url(../img/bg/bg-main2.png) 0 -1px repeat-x;

        .greetings {
            width: 75%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 35px;

            .message {
                h1 {
                    font-size: 2.2vmax;
                }
                h5 {
                    text-align: center;
                }
            }
        }

        .dashboard {
            width: 90%;
            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .auth {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h1 {
                    text-align: center;
                    font-size: 2.2vmax;
                }
                h5 {
                    text-align: center;
                }
            }
        }
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 140px;
        background-color: $bg-lighter;

        .footer-wrapper {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 35px 0;
            margin: 0 auto;
            width: 950px;
            .footer-nav {
                flex: 0 0 auto;
                opacity: 0.9;
                margin-bottom: 1em;
                ul {
                    row-gap: 0.5rem;
                    li {
                        display: inline-block;
                        margin-right: 1em;
                        font-family: $font-bold;
                        font-size: .95rem;
                    }
                }
            }
            .socials {
                ul {
                    display: inline-flex;
                    li {
                        display: inline-block;
                        margin-right: 0.6em;
                        a {
                            font-size: 1.2rem;
                            opacity: 0.5;
                            cursor: pointer;
                            @include transition();
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .copyright {
                opacity: 0.5;
                font-family: $font-light;
                flex: 1 0 100%;
            }
        }
    }
}
