@import "./normalize.css";

@font-face {
    font-family: "Montserrat Light";
    src: local("Montserrat-Light"), url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Regular";
    src: local("Montserrat-Regular"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Bold";
    src: local("Montserrat-Bold"), url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

$font-light: "Montserrat Light", sans-serif;
$font-mont: "Montserrat Regular", sans-serif;
$font-bold: "Montserrat Bold", sans-serif;
$font-sans: sans-serif;
$bg-main: #1a131b;
$bg-darker: #1d161e;
$bg-lighter: #3e2c41;
$main-light: #786a7a;
$main-color: #d3d0cb;
$flavor-color: #ffc18e;

@mixin bg-gradient {
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-color: $bg-darker;
    background-image: linear-gradient(180deg, $bg-darker 0, $bg-main 250px, $bg-lighter 251px);
    background-position: 0 0;
}

@mixin transition {
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: $main-color;
    text-decoration: none;
}

body {
    height: 100%;
    width: 100%;
    color: $main-color;
    font-family: $font-mont;
    @include bg-gradient();
}

#root {
    height: 100%;
    width: 100%;
}

.page-container {
    width: 100%;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;

    .loading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    header {
        height: 70px;
        position: relative;
        background-color: $bg-main;
        z-index: 777;

        nav {
            height: 70px;
            margin: 0 auto;
            position: relative;
            width: 950px;

            .logo {
                float: left;
                margin: 22px 0 0;
                height: 25px;
                position: relative;
                width: 273px;
                background-image: url(../img/logo/logo2n.svg);
                background-repeat: no-repeat;
                background-size: contain;
                opacity: 0.5;
                cursor: pointer;
                @include transition();
                &:hover {
                    opacity: 1;
                }
            }

            .main-nav {
                position: absolute;
                right: 20px;
                top: 18px;
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    li,
                    button {
                        display: block;
                        font-size: 0.8rem;
                        letter-spacing: 0.05em;
                        margin-left: 15px;
                        text-transform: uppercase;
                        font-weight: 600;
                        color: $main-light;
                    }
                    svg {
                        padding-top: 5px;
                        width: 1.2rem;
                        height: 100%;
                    }

                    button {
                        cursor: pointer;
                        color: $main-light;
                        border: none;
                        background: none;
                        padding: 0;
                        margin: 0;

                        @include transition();
                        &:hover {
                            opacity: 1;
                            color: $main-color;
                        }
                    }
                }

                .search-form {
                    width: 150px;
                    height: 40px;

                    fieldset {
                        border: 0;
                        .search {
                            color: $main-color;
                            border-radius: 15px;
                            font-size: 12px;
                            padding: 8px 30px 8px 10px;
                            width: 140px;
                            background-color: hsla(0, 0%, 100%, 0.25);
                            box-shadow: none;
                            border: none;
                            opacity: 0.6;
                            @include transition();
                            &:focus {
                                outline: none;
                                opacity: 1;
                                background-color: hsla(0, 0%, 100%, 0.5);
                                color: white;
                                + button {
                                    color: $bg-main;
                                }
                            }
                        }

                        button {
                            color: $main-light;
                            width: 40px;
                            position: absolute;
                            top: 4px;
                            right: -5px;
                        }
                    }
                }
            }
        }
    }

    .main {
        height: 100%;
        padding: 30px 0;
        background: $bg-main url(../img/bg/bg-main2.png) 0 -1px repeat-x;

        .content {
            margin: 0 auto;
            width: 950px;

            .dashboard {
                width: 100%;
            }
        }
    }

    .welcome-page {
        height: 100%;
        padding: 30px 0;
        background: $bg-main;
        .content {
            background-image: none;
            padding-top: 400px;
            .content-wrap {
                display: flex;
                flex-direction: column;
                position: relative;
                justify-content: center;
                margin: 0 auto;
                width: 950px;
                .greetings {
                    text-align: center;
                    .message {
                        h1 {
                            margin: 0.9rem;
                        }
                    }
                    .functions {
                        padding: 30px 0;
                        button {
                            color: $main-color;
                            cursor: pointer;
                            background: $bg-lighter;
                            padding: 1rem 2rem;
                            border: none;
                            border-radius: 5px;
                            @include transition();
                            &:hover {
                                opacity: 0.9;
                            }
                        }
                    }
                }
                .feature-wrap {
                    display: block;
                    .featured {
                        ul {
                            display: flex;
                            justify-content: center;
                            column-gap: 10px;
                            li {
                                display: inline-flex;
                            }
                        }
                    }
                    .info {
                        padding: 30px;
                        text-align: center;
                    }
                }
            }
        }
    }

    .welcome-header {
        background-color: transparent;
        background-image: linear-gradient(
            180deg,
            $bg-main 0,
            rgba(26, 19, 27, 0.945) 16.56%,
            rgba(26, 19, 27, 0.802) 30.85%,
            rgba(26, 19, 27, 0.606) 43.77%,
            rgba(26, 19, 27, 0.394) 56.23%,
            rgba(26, 19, 27, 0.198) 69.15%,
            rgba(26, 19, 27, 0.055) 83.44%,
            rgba(26, 19, 27, 0)
        );
        background-repeat: repeat-x;
        height: 95px;
        left: 0;
        opacity: 0.7;
        position: absolute;
        right: 0;
        top: 0;
        ul {
            li,
            button {
                color: $main-color !important;
            }
        }
    }

    .account-container {
        min-height: 100vh;
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 23128;

        .acc-overlay {
            width: 100%;
            min-height: 100vh;
            cursor: auto;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyAQMAAAAk8RryAAAABlBMVEUAAAD///+l2Z/dAAAAAnRSTlP/AOW3MEoAAAAOSURBVBiVY2AYBYMJAAABkAAB2POVPwAAAABJRU5ErkJggg==)
                repeat 0 0;
            opacity: 0.8;
        }

        .account-content {
            position: absolute;
            background: $bg-lighter;
            border-radius: 5px;
            min-width: 400px;
            padding: 1.7rem 3rem;
            z-index: 9;

            .heading {
                font-size: 0.9rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                svg {
                    font-size: 1.8rem;
                    color: hsla(0, 0%, 100%, 0.5);
                    &:hover {
                        color: $bg-main;
                        cursor: pointer;
                    }
                }
            }

            .form {
                width: 100%;
                font-size: 0.9rem;
                .form-group {
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.8rem;

                    input {
                        outline: none;
                        border-radius: 5px;
                        padding: 0.4rem 2rem;
                        width: 100%;
                        background-color: hsla(0, 0%, 100%, 0.5);

                        &:focus {
                            background-color: $main-color;
                        }
                        &::placeholder {
                            color: $main-color;
                        }
                    }
                    button {
                        background-color: hsla(0, 0%, 100%, 0.5);
                        color: $main-color;
                        border: 0;
                        box-shadow: none;
                        border-radius: 5px;
                        cursor: pointer;
                        margin-top: 15px;
                        padding: 0.5rem 2rem;
                        width: 100%;
                        @include transition();

                        &:hover {
                            background-color: $bg-darker;
                            color: $main-color;
                        }
                    }
                    .error {
                        color: darkgoldenrod;
                    }
                }
            }
        }
    }

    .user-profile {
        margin: 0 auto;
        width: 950px;
        .content {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            .personal {
                width: 100%;
            }
            .functions {
                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    column-gap: 15px;
                }
            }
        }
    }

    .user-settings {
        margin: 0 auto;
        width: 950px;
        .content {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            .personal {
                width: 100%;
            }
            .settings-nav {
                border-bottom: 2px solid $bg-lighter;
                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    column-gap: 10px;

                    li {
                        button {
                            border: 0;
                            box-shadow: none;
                            border-radius: 0px;
                            color: $main-light;
                            background: none;
                            &:hover {
                                cursor: pointer;
                                color: $main-color;
                                border-bottom: 3px solid $main-light;
                            }
                        }
                        .active {
                            color: $main-color;
                            border-bottom: 3px solid $main-light;
                        }
                    }
                }
            }

            .settings-wrap {
                margin-top: 1rem;
                h4 {
                    margin-bottom: 0.8rem;
                }

                .tab.single {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    row-gap: 10px;
                    margin-bottom: 20px;
                    h4 {
                        text-align: center;
                    }
                    .favorites {
                        width: 100%;
                        ul {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            column-gap: 10px;
                            li {
                                display: inline-flex;
                                @include transition();
                                &:hover {
                                    @include transition();
                                    padding-left: 15px;
                                    padding-right: 15px;
                                    a {
                                        cursor: auto;
                                        opacity: 0.7;
                                        img {
                                            border: 1px solid $bg-lighter;
                                            border-radius: 5px;
                                        }
                                    }
                                    .remove-button {
                                        display: flex;
                                    }
                                    .sort-button {
                                        display: flex;
                                    }
                                }

                                .remove-button {
                                    border: none;
                                    outline: none;
                                    border-radius: 0px 0px 0 5px;
                                    background: $bg-lighter;
                                    display: none;
                                    padding: 0;
                                    justify-content: center;
                                    align-items: center;
                                    position: absolute;
                                    margin-top: 0px;
                                    margin-left: 120px;
                                    height: 30px;
                                    width: 30px;
                                    z-index: 1;
                                    @include transition();

                                    &:hover {
                                        cursor: pointer;
                                        background: $main-light;
                                    }

                                    svg {
                                        color: $main-color;
                                    }
                                }
                                .sort-button {
                                    border: none;
                                    outline: none;
                                    background: $bg-lighter;
                                    border-radius: 0px 5px 5px 0px;
                                    display: none;
                                    padding: 0;
                                    justify-content: center;
                                    align-items: center;
                                    position: absolute;
                                    margin-top: 97px;
                                    height: 30px;
                                    width: 30px;
                                    z-index: 1;
                                    @include transition();

                                    &:hover {
                                        cursor: pointer;
                                        background: $main-light;
                                    }

                                    svg {
                                        color: $main-color;
                                    }
                                }
                                .sort-button.left {
                                    margin-left: -15px;
                                    border-radius: 5px;
                                }
                                .sort-button.right {
                                    margin-left: 135px;
                                    border-radius: 5px;
                                }
                            }
                        }
                    }
                }

                .tab.multiple {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    column-gap: 80px;
                    .profile {
                        width: 430px;
                    }
                    .media {
                        width: 440px;

                        .avatar-container {
                            display: flex;
                            flex-direction: column;
                            row-gap: 10px;
                            margin-top: 15px;
                            .uploader-container {
                                height: 250px;
                                border: 1px solid $bg-lighter;
                                border-radius: 5px;
                                display: flex;
                                flex-direction: row;
                                flex-wrap: wrap;
                                position: relative;
                                .uploader {
                                    background-image: linear-gradient(
                                            45deg,
                                            rgba(200, 212, 224, 0.05) 25%,
                                            transparent 0
                                        ),
                                        linear-gradient(135deg, rgba(200, 212, 224, 0.05) 25%, transparent 0),
                                        linear-gradient(45deg, transparent 75%, rgba(200, 212, 224, 0.05) 0),
                                        linear-gradient(135deg, transparent 75%, rgba(200, 212, 224, 0.05) 0);
                                    background-position: 0 0, 10px 0, 10px -10px, 0 10px;
                                    background-size: 20px 20px;
                                    width: 100%;

                                    .file {
                                        display: flex;
                                        height: 100%;
                                        position: relative;
                                        align-items: center;
                                        z-index: 1;
                                        .interact {
                                            background-color: rgba(62, 44, 65, 0.5);
                                            border-top-left-radius: 2px;
                                            border-top-right-radius: 2px;
                                            bottom: 0;
                                            left: 0;
                                            opacity: 0;
                                            position: absolute;
                                            right: 0;
                                            top: 0;
                                            transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
                                            -webkit-user-select: none;
                                            -moz-user-select: none;
                                            -o-user-select: none;
                                            user-select: none;
                                            z-index: 2;

                                            &::before {
                                                border-top-left-radius: 3px;
                                                border-top-right-radius: 3px;
                                                bottom: -1px;
                                                box-shadow: inset 0 0 0 1px rgb(36 48 60 / 0%);
                                                content: "";
                                                display: block;
                                                left: -1px;
                                                position: absolute;
                                                right: -1px;
                                                top: -1px;
                                                transition: box-shadow 0.25s cubic-bezier(0.19, 1, 0.22, 1);
                                            }

                                            &:hover {
                                                opacity: 1;
                                            }

                                            input[type="file"] {
                                                display: block;
                                                height: 100%;
                                                opacity: 0;
                                                width: 100%;
                                            }

                                            label {
                                                align-items: center;
                                                bottom: 0;
                                                cursor: pointer;
                                                display: flex;
                                                justify-content: center;
                                                left: 0;
                                                padding: 1rem;
                                                position: absolute;
                                                right: 0;
                                                top: 0;
                                            }
                                        }
                                        .interact.dropping {
                                            opacity: 1;
                                        }
                                    }

                                    .preview-container {
                                        box-sizing: content-box;
                                        margin: 0 auto;
                                        padding: 1.53846154rem;
                                        pointer-events: none;
                                        .preview {
                                            float: none;
                                            margin-left: auto;
                                            margin-right: auto;
                                            overflow: hidden;
                                            border-radius: 95px;
                                            height: 160px;
                                            width: 160px;
                                            img {
                                                height: 100%;
                                                object-fit: cover;
                                                width: 100%;
                                            }
                                            svg {
                                                height: 100%;
                                                object-fit: cover;
                                                width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .media-uploader {
                            display: flex;
                            flex-direction: column;
                            row-gap: 15px;
                            height: 100%;
                            position: relative;
                            z-index: 1;

                            button {
                                cursor: pointer;
                                padding: 5px 5px;
                                outline: none;
                                color: $main-color;
                                border: none;
                                border-radius: 5px;
                                background-color: $bg-lighter;
                                @include transition();
                                &:hover {
                                    background-color: $main-light;
                                }
                            }

                            .cropper {
                                height: 248px;
                                background-image: linear-gradient(45deg, rgba(200, 212, 224, 0.05) 25%, transparent 0),
                                    linear-gradient(135deg, rgba(200, 212, 224, 0.05) 25%, transparent 0),
                                    linear-gradient(45deg, transparent 75%, rgba(200, 212, 224, 0.05) 0),
                                    linear-gradient(135deg, transparent 75%, rgba(200, 212, 224, 0.05) 0);
                                background-position: 0 0, 10px 0, 10px -10px, 0 10px;
                                background-size: 20px 20px;
                                width: 100%;
                                :nth-child(1) {
                                    border-radius: 5px;
                                    position: relative;
                                    height: 100%;
                                }
                            }

                            .viewer {
                                height: 120px;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: $bg-lighter;
                                border-radius: 5px;
                                column-gap: 15px;

                                .output {
                                    position: relative;
                                    width: 100px;
                                    height: 100px;
                                    overflow: hidden;
                                    border-radius: 50px;
                                    box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
                                    img {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        transform-origin: top left;
                                    }
                                }

                                img {
                                    position: relative;
                                    height: 100px;
                                    width: 100px;
                                    border-radius: 50px;
                                }

                                .user {
                                }
                            }

                            .functions {
                                display: flex;
                                column-gap: 20px;
                                :nth-child(1) {
                                    width: 70%;
                                }
                                :nth-child(2) {
                                    width: 30%;
                                }
                            }
                        }
                    }
                }

                .form-group {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    margin-top: 15px;

                    input {
                        font-size: 0.9em;
                        border-radius: 5px;
                        padding: 6px 10px;
                        outline: none;
                    }

                    textarea {
                        border-radius: 5px;
                        padding: 6px 10px;
                        min-width: 100%;
                        max-width: 100%;
                        min-height: 50px;
                        max-height: 250px;
                        outline: none;
                    }

                    button {
                        cursor: pointer;
                        padding: 5px 5px;
                        outline: none;
                        color: $main-color;
                        border: none;
                        border-radius: 5px;
                        background-color: $bg-lighter;
                        @include transition();
                        &:hover {
                            background-color: $main-light;
                        }
                    }

                    .form-error {
                        text-align: end;
                        color: rgb(179, 54, 54);
                    }
                }
                .privacy {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .form-group.check {
                        flex-direction: row;
                        column-gap: 10px;
                        input[type="checkbox"] {
                            cursor: pointer;
                            border: none;
                            outline: none;
                            transform: scale(1.5);
                            color: $bg-lighter;
                        }
                    }
                }

                .search-box {
                    border-radius: 5px;

                    .search-button {
                        display: block;
                        position: relative;
                        height: 225px;
                        width: 150px;
                        background-color: $bg-main;
                        border: 1px solid $bg-lighter;
                        border-radius: 5px;

                        &:hover {
                            cursor: pointer;
                            svg {
                                opacity: 1;
                            }
                        }
                        svg {
                            @include transition();
                            opacity: 0.5;
                            color: $main-light;
                            font-size: 2.1rem;
                        }
                    }
                }
            }
        }
    }

    .movie-poster {
        border-radius: 5px;
        a {
            display: block;
            position: relative;

            img {
                height: 225px;
                width: 150px;
                border: 1px solid $bg-lighter;
                border-radius: 5px;
                @include transition();
            }
            &:hover {
                img {
                    border: 3px solid $main-light;
                    border-radius: 5px;
                }
            }
        }
    }

    footer {
        padding-bottom: 140px;
        background-color: $bg-lighter;

        .footer-wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            width: 950px;
            margin: 0 auto;
            padding: 32px 0;

            .footer-nav {
                margin-bottom: 1em;
                ul {
                    margin-bottom: 0;
                    overflow: hidden;
                    li {
                        display: inline-block;
                        margin-right: 1em;
                        font-family: $font-bold;
                        font-size: 0.95rem;
                    }
                }
            }
            .socials {
                ul {
                    li {
                        display: inline-block;
                        margin-right: 0.6em;
                        a {
                            font-size: 1.2rem;
                            opacity: 0.5;
                            cursor: pointer;
                            @include transition();
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .copyright {
                opacity: 0.5;
                font-family: $font-light;
            }
        }
    }
}

.backdrop-container {
    height: 675px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    .backdrop-wrap {
        height: 675px;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        width: 1200px;
        z-index: 0;
        .backdrop-img {
            opacity: 1;
            background-position: center -31px;
            background-image: url(../img/backdrop/manbitesdog.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            height: 100%;
            position: absolute;
            width: 100%;
        }
        .backdrop-title {
            cursor: pointer;
            opacity: 0.5;
            position: absolute;
            top: 70%;
            left: 88%;
            z-index: 55;
            a {
                padding: 5px;
            }
            @include transition();
            &:hover {
                opacity: 1;
            }
        }
        .backdrop-mask {
            padding-top: 500px;
            position: relative;
            &::before {
                background-image: linear-gradient(
                        90deg,
                        $bg-main 0,
                        rgba(26, 19, 27, 0.986) 0.97%,
                        rgba(26, 19, 27, 0.945) 2.07833333%,
                        rgba(26, 19, 27, 0.883) 3.29666667%,
                        rgba(26, 19, 27, 0.803) 4.60166667%,
                        rgba(26, 19, 27, 0.711) 5.96666667%,
                        rgba(26, 19, 27, 0.61) 7.365%,
                        rgba(26, 19, 27, 0.504) 8.77166667%,
                        rgba(26, 19, 27, 0.398) 10.16%,
                        rgba(26, 19, 27, 0.296) 11.505%,
                        rgba(26, 19, 27, 0.203) 12.78%,
                        rgba(26, 19, 27, 0.122) 13.95833333%,
                        rgba(26, 19, 27, 0.059) 15.01666667%,
                        rgba(26, 19, 27, 0.016) 15.92833333%,
                        rgba(26, 19, 27, 0) 16.66666667%,
                        rgba(26, 19, 27, 0) 83.33333333%,
                        rgba(26, 19, 27, 0.016) 84.07166667%,
                        rgba(26, 19, 27, 0.059) 84.98333333%,
                        rgba(26, 19, 27, 0.122) 86.04166667%,
                        rgba(26, 19, 27, 0.203) 87.22%,
                        rgba(26, 19, 27, 0.296) 88.495%,
                        rgba(26, 19, 27, 0.398) 89.84%,
                        rgba(26, 19, 27, 0.504) 91.22833333%,
                        rgba(26, 19, 27, 0.61) 92.635%,
                        rgba(26, 19, 27, 0.711) 94.03333333%,
                        rgba(26, 19, 27, 0.803) 95.39833333%,
                        rgba(26, 19, 27, 0.883) 96.70333333%,
                        rgba(26, 19, 27, 0.945) 97.92166667%,
                        rgba(26, 19, 27, 0.986) 99.03%,
                        $bg-main
                    ),
                    linear-gradient(
                        0deg,
                        $bg-main 0,
                        $bg-main 21.48148148%,
                        rgba(26, 19, 27, 0.986) 23.63703704%,
                        rgba(26, 19, 27, 0.945) 26.1%,
                        rgba(26, 19, 27, 0.883) 28.80740741%,
                        rgba(26, 19, 27, 0.803) 31.70740741%,
                        rgba(26, 19, 27, 0.711) 34.74074074%,
                        rgba(26, 19, 27, 0.61) 37.84814815%,
                        rgba(26, 19, 27, 0.504) 40.97407407%,
                        rgba(26, 19, 27, 0.398) 44.05925926%,
                        rgba(26, 19, 27, 0.296) 47.04814815%,
                        rgba(26, 19, 27, 0.203) 49.88148148%,
                        rgba(26, 19, 27, 0.122) 52.5%,
                        rgba(26, 19, 27, 0.059) 54.85185185%,
                        rgba(26, 19, 27, 0.016) 56.87777778%,
                        rgba(26, 19, 27, 0) 58.51851852%
                    );
                background-repeat: no-repeat;
                content: "";
                display: block;
                height: 675px;
                left: 50%;
                pointer-events: none;
                position: absolute;
                top: 0;
                transform: translateX(-50%);
                width: 1200px;
                z-index: 0;
            }
        }
    }
}
